body {
  font-family: sans-serif;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-attachment: fixed;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  margin: 20px 0px 30px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: scroll;
  width: 768px;
  max-width: 100%;
  min-height: 450px;
  max-height: 80%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background: #00dbde;
  border-radius: 20px;
  border: 1px solid #ebe7e7;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.classic {
  border-radius: 20px;
}

button.ghost {
  background: transparent;
  border-radius: 20px;
  border-color: #fff;
}

.navbar {
  min-height: 80px;
  font-size: 3em;
}

.navbar-brand {
  font-size: 0.6em;
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.modal-container {
  width: 50%;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6 ease-in-out z-index = 100;
}

.overlay {
  background: #00dbde;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out z-index = 100;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out z-index = 100;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0%);
}

.modal-body{
  position: relative;
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  height: auto;
  min-height: 260px;
  align-content: center;
}